@charset "UTF-8";
div.applist {
  width: calc(100vw - 420px);
  height: calc(100vh - 80px);
  position: relative;
  left: 80px;
  float: left;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  box-shadow: 0 0 8px rgb(255, 255, 255);
  overflow: hidden;
  user-select: auto;
}
div.applist div.page {
  height: calc(100vh - 160px);
  width: calc(100vw - 500px);
  margin: 40px;
  transition: margin-top 0.5s;
}
div.applist div.page > div.title {
  color: #5c5c5c;
  text-align: center;
  width: 100%;
  font-size: 16px;
  font-weight: 700;
}
div.applist div.page div.main {
  height: calc(100vh - 184px);
  overflow-y: auto;
}
div.applist div.page[id=联系我们] div.main div.contact > div.item:first-child {
  margin-top: 40px;
}
div.applist div.page[id=联系我们] div.main div.contact div.item {
  height: 24px;
}
div.applist div.page[id=联系我们] div.main div.contact div.item div {
  font-weight: 700;
  font-size: 16px;
  width: 100%;
}
div.applist div.page[id=联系我们] div.main div.contact div.item div.platform {
  width: 45%;
  text-align: right;
  float: left;
}
div.applist div.page[id=联系我们] div.main div.contact div.item div.content {
  margin-left: 8px;
  width: 50%;
  text-align: left;
  float: left;
}
div.applist div.page[id=联系我们] div.main div.contact div.item div.content span {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
  transition-duration: 0.3s;
  padding: 2px 8px 2px 8px;
  border-radius: 4px;
}
div.applist div.page[id=联系我们] div.main div.contact div.item div.content span:hover {
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
  color: #cecaca;
}
div.applist div.page[id=联系我们] div.main div.source {
  width: 100%;
  position: relative;
  top: 40px;
}
div.applist div.page[id=联系我们] div.main div.source div.item {
  text-align: center;
  margin: 4px auto 4px auto;
  height: 36px;
  transition-duration: 0.3s;
  overflow: hidden;
}
div.applist div.page[id=联系我们] div.main div.source div.item a {
  position: relative;
  transform: translateY(-50%);
  top: 22px;
  display: inline-block;
  color: #000;
  font-weight: 700;
  text-decoration: none;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
  transition-duration: 0.3s;
  padding: 2px 8px 2px 8px;
  border-radius: 4px;
}
div.applist div.page[id=联系我们] div.main div.source div.item a + div.content span {
  display: inline-block;
  margin-top: 14px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
  color: #cecaca;
  padding: 2px 8px 2px 8px;
  border-radius: 4px;
}
div.applist div.page[id=联系我们] div.main div.source div.item a:hover {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
  color: #cecaca;
}
div.applist div.page[id=联系我们] div.main div.item:has(a:hover) {
  height: 74px;
}
div.applist div.page[id=主界面] div.main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}
div.applist div.page[id=主界面] div.main div.item {
  border-radius: 8px;
  color: #443A3B;
}
div.applist div.page[id=主界面] div.main div.item div.title {
  font-size: 16px;
  text-align: center;
}
div.applist div.page[id=主界面] div.main div.item div.title div.img {
  width: 16px;
  height: 16px;
  display: inline-block;
}
div.applist div.page[id=主界面] div.main div.item div.title div.img img {
  width: 16px;
  height: 16px;
}
div.applist div.page[id=主界面] div.main div.item div.title span {
  display: inline-block;
}
div.applist div.page[id=主界面] div.main div.calendar {
  padding: 16px;
  border-radius: 8px;
  background: #ffcd68;
}
div.applist div.page[id=主界面] div.main div.calendar div.lunar {
  font-size: 24px;
  text-align: center;
}
div.applist div.page[id=主界面] div.main div.calendar div.ganzhi {
  font-size: 12px;
  grid-template-columns: 24px 1fr;
  text-align: center;
}
div.applist div.page[id=主界面] div.main div.calendar div.yi, div.applist div.page[id=主界面] div.main div.calendar div.ji {
  margin-top: 8px;
  text-overflow: clip;
  display: grid;
  grid-template-columns: 24px 1fr;
}
div.applist div.page[id=主界面] div.main div.calendar div.yi div.icon, div.applist div.page[id=主界面] div.main div.calendar div.ji div.icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  border-radius: 12 px;
  text-align: center;
  color: #FFF;
  position: relative;
}
div.applist div.page[id=主界面] div.main div.calendar div.yi div.content, div.applist div.page[id=主界面] div.main div.calendar div.ji div.content {
  display: inline-block;
  margin-left: 8px;
}
div.applist div.page[id=主界面] div.main div.calendar div.yi div.icon {
  background-color: #DEB12D;
}
div.applist div.page[id=主界面] div.main div.calendar div.ji div.icon {
  background-color: #443A3B;
}