@font-face {
  font-family: HarmonyOS;
  src: url(../font/HarmonyOS_Sans_Medium.ttf) format("truetype");
}

* {
  box-sizing: border-box;
  font: inherit;
  user-select: none;
}

html {
  color: #333;
  font-size: 62.5%;
  cursor: default;
}

@media screen and (max-width: 480px) {
  html {
    font-size: 50%;
  }
}

#stars {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
body {
  font-family: HarmonyOS, sans-serif;
  font-size: 2rem;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  overflow: hidden;
}
div.day {
  position: fixed;
  letter-spacing: 4px;
  text-align: center;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 20%;
  color: antiquewhite;
  span {
    font-size: 30px;
    text-align: center;
  }
}
div.body {
  position: fixed;
  width: 350px;
  height: 514px;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  font-size: 24px;
  > div {
    width: 100%;
    height: 100%;
    background: bisque;
    border-radius: 16px;
    box-shadow: 0px 0px 8px bisque;
    position: fixed;
  }
  > div:hover {
    box-shadow: 0px 0px 64px bisque;
  }
  div.up {
    font-weight: 400;
    transition-duration: 1s;
    z-index: 2;
    div.content {
      writing-mode: vertical-rl;
      position: relative;
      transform: translate(-50%, -50%);
      font-size: 36px;
      top: 50%;
      left: 50%;
    }
  }
  div.low {
    z-index: 1;
    transition-duration: 1s;
    text-align: center;
    display: flex;
    div {
      width: 100%;
      > span {
        transform: translateY(-50%);
        position: relative;
        display: block;
        top: 50%;
      }
    }
    div.middle {
      height: 10%;
    }
    div.top {
      font-size: 36px;
      height: 45%;
    }
    div.bottom {
      font-size: 36px;
      height: 45%;
    }
  }
  div.up[flop="true"] {
    animation: flopUP 1s ease-in-out forwards;
    ~ div.low {
      animation: flopLOW 1s ease-in-out forwards;
    }
  }
}
@keyframes flopUP {
  0% {
    display: block;
    transform: rotate3d(0, 1, 0, 0deg);
  }
  50% {
    display: none;
    transform: rotate3d(0, 1, 0, 90deg);
  }
  100% {
    display: none;
    transform: rotate3d(0, 1, 0, 180deg);
  }
}
@keyframes flopLOW {
  0% {
    display: none;
    transform: rotate3d(0, 1, 0, -180deg);
  }
  50% {
    display: block;
    transform: rotate3d(0, 1, 0, -90deg);
  }
  100% {
    display: block;
    transform: rotate3d(0, 1, 0, 0deg);
  }
}
